@font-face{
    font-family: 'Averta';
    src: url(font/Averta-Regular.otf) format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Abril_Display';
    src: url(/font/Abril_Display_ExtraBold.otf) format('opentype');
    font-weight: 800;
    font-style: normal;
}

@media (min-width: 1400px){
    .container{
        max-width: 1140px;
    }
}


body{
    font-family: 'Open Sans';
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

.first{
    padding-top: 85px;
}

.yellowButton{
    font-size: 22px;
    line-height: 30px;
    font-weight: 600;
    color: #fff;
    background-color: transparent;
    display: inline-block;
    text-align: center;
    padding: 8px 33px;
    border-radius: 20px;
    border: 2px solid #CC9745;
    transition: 0.3s;
    text-transform: uppercase;
}

.yellowButton:hover{
    background-color: #CC9745;
    color: #fff;
}

.redButton{
    color: #211d1d;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    border: 2px solid #7c1111;
    background-color: transparent;
    text-align: center;
    padding: 8px 33px;
    border-radius: 16px;
    transition: 0.3s;
    display: inline-block;
}

.redButton:hover{
    color: #fff;
    background-color: #7c1111;
}

.title{
    font-family: 'Abril_Display';
    font-weight: 800;
    color: #7C1111;
    font-size: 58px;
    line-height: 64px;
    margin-bottom: 5px;
}

.subTitle{
    font-weight: 600;
    font-size: 20px;
    line-height: 31px;
    color: #7C1111;
    margin-bottom: 9px;
}

.text{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #000;
    margin-bottom: 24px;
}