@font-face{
    font-family: 'Averta';
    src: url(font/Averta-Regular.otf) format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Abril_Display';
    src: url(/font/Abril_Display_ExtraBold.otf) format('opentype');
    font-weight: 800;
    font-style: italic;
}

@media (min-width: 1400px){
    .container{
        max-width: 1140px;
    }
}


body{
    font-family: 'Open Sans';
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

.first{
    padding-top: 85px;
}

.yellowButton{
    font-size: 22px;
    line-height: 30px;
    font-weight: 600;
    color: #fff;
    background-color: transparent;
    display: inline-block;
    text-align: center;
    padding: 10px 35px;
    border-radius: 20px;
    border: 2px solid #CC9745;
    transition: 0.3s;
    text-transform: uppercase;
}

.yellowButton:hover{
    background-color: #CC9745;
    color: #fff;
}