/* slider */

.swiper{
    width: 100%;
}

.swiper-slide{
    position: relative;
    padding-top: 42.36%;
    overflow: hidden;
}

.swiper-slide .sliderBackground{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
}

.swiper-slide::after{
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    z-index: 3;
}

.swiper-slide .slideContent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    text-align: center;
    width: 90%;
    max-width: 1050px;
}

.slideTitle{
    font-size: 73px;
    line-height: 82px;
    color: #fff;
    font-family: 'Abril_Display';
    font-weight: 800;
    margin-bottom: 30px;
}

.swiper .swiper-pagination{
    bottom: 35px;
}

.swiper-pagination .swiper-pagination-bullet{
    width: 11px;
    height: 11px;
    background-color: transparent;
    border: 1px solid #fff;
    opacity: 1;
    margin: 0 7px!important;
}

.swiper-pagination .swiper-pagination-bullet-active{
    background-color: #cc9745;
    border: 1px solid #cc9745;
}

/* about us section */

#aboutUsSection{
    padding: 108px 0 160px;
    background-color: #FBFAF5;
}

#aboutUsSection .imageRight{
    text-align: right;
}

#aboutUsSection .textContainer{
    margin-bottom: 28px;
}

.imageRight img{
    max-width: 100%;
}

/* weddings */

#weddings{
    background-color: #FBFAF5;
    padding-bottom: 54px;
    position: relative;
    overflow: hidden;
}

#weddings::before{
    content: url('/img/Mask Group 5.png');
    left: -205px;
    bottom: 54px;
    position: absolute;
    z-index: 0;
}

#weddings .weddingsText,
#weddings .weddingOffers{
    z-index: 100;
    position: relative;
}

#weddings .title{
    text-align: center;
    position: relative;
    width: max-content;
    margin: 0 auto 56px;
    padding: 0;
}

#weddings .title::after{
    content: '';
    background-image: url('/img/Warstwa 2.svg');
    position: absolute;
    right: -18px;
    top: 50%;
    transform: translate(100%,-50%) rotate(180deg);
    width: 30px;
    height: 42px;
}

#weddings .title::before{
    content: '';
    background-image: url('/img/Warstwa 2.svg');
    position: absolute;
    left: -18px;
    top: 50%;
    transform: translate(-100%,-50%);
    width: 30px;
    height: 42px;
}

#weddings .subTitle{
    text-align: center;
    margin-bottom: 23px;
    color: #000;
}

#weddings .text{
    text-align: center;
}

.weddingOffers{
    margin-top: 75px;
    margin-bottom: 37px;
}

.weddingOffer{
    text-align: center;
    margin-bottom: 40px;
}

.weddingOffer img{
    max-width: 100%;
    margin-bottom: 30px;
}

.wedingOfferTitle{
    font-size: 30px;
    line-height: 46px;
    font-family: 'Abril_Display';
    color: #7c1111;
    text-align: center;
    margin-bottom: 45px;
}

/* offer section */

#offerSection{
    background-color: #7C1111;
    padding-top: 70px;
    padding-bottom: 330px;
}

#offerSection .title{
    color: #fff;
    text-align: center;
    position: relative;
    width: max-content;
    margin: 0 auto 56px;
    padding: 0;
}

#offerSection .title::after{
    content: '';
    background-image: url('/img/Warstwa 2.2.svg');
    position: absolute;
    right: -18px;
    top: 50%;
    transform: translate(100%,-50%);
    width: 30px;
    height: 42px;
}

#offerSection .title::before{
    content: '';
    background-image: url('/img/Warstwa 2.2.svg');
    position: absolute;
    left: -18px;
    top: 50%;
    transform: translate(-100%,-50%) rotate(180deg);
    width: 30px;
    height: 42px;
}

#offerSection [data-tab-content] {
    display: none;
}
  
#offerSection .active[data-tab-content] {
    display: block;
}

.tabs{
    padding-left: 0;
}

.tabs li{
    border-bottom: solid 1px #D6DCE1;
    height: 78px;
    display: flex;
    align-items: center;
}

.tabs li:hover{
    cursor: pointer;
}

.tabs li:hover p{
    background-color: #934141;
    height: 64px;
}

.tabs li p{
    transition: 0.4s;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    height: 77px;
    position: relative;
    padding: 0 43px 0 62px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    border-left: 5px solid #601010;
    width: 100%;
}

#offerSection li.active p{
    height: 64px;
    background-color: #934141;
}

.tabs li p::before{
    content: '';
    background-image: url('/img/arrow-03.svg');
    position: absolute;
    top: 50%;
    left: 22px;
    transform: translateY(-50%);
    width: 24px;
    height: 29px;
    background-size: cover;
    background-repeat: no-repeat;
}

.tabs li::marker{
    content: none;
}

.tabContent{
    max-width: 730px;
    margin-left: auto;
}

.tabContent p{
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 26px;
}

.tabContent img{
    margin-bottom: 64px;
}

.tabContent p b{
    font-weight: 600;
}


/* mobile */

@media(min-width: 1200px){
    .weddingsText{
        max-width: 1010px;
    }
}

@media(max-width:1100px){
    /* slider */
    .slideTitle{
        font-size: 62px;
        line-height: 70px;
    }
}

@media(max-width:991px){
    /* slider */
    .slideTitle{
        font-size: 48px;
        line-height: 56px;
    }
}

@media(max-width:768px){
    /* slider */
    .swiper-slide{
        padding-top: 56.25%;
    }
}

@media(max-width:768px){
    /* about us section */
    #aboutUsSection .imageRight{
        text-align: center;
    }
}

@media(max-width:700px){
    /* slider */
    .slideTitle{
        font-size: 36px;
        line-height: 42px;
    }

    .swiper-slide .slideContent{
        width: 95%;
    }
}

@media(max-width:600px){
    /* slider */
    .swiper-slide{
        padding-top: 80%;
    }
}

@media(max-width:480px){
    /* slider */
    .swiper-slide{
        padding-top: 150%;
    }
}